<div class="banners">
  <% if params[:gender] == "women" %>
    <img src="/assets/female.webp" alt="model2" class="banner">
  <% else %>
    <img src="/assets/male.webp" alt="model2" class="banner">
  <% end %>
</div>
