<div class="banners m-0 p-0">
  <% if params[:gender] == "women" %>
    <img src="https://www.pngkey.com/png/full/7-77901_transparent-professional-only-woman-fashion-png.png" alt="model2" class="banner">
  <% else %>
    <img src="https://www.pngkey.com/png/detail/364-3648518_mens-fashion-shoes-clipart-fashion-illustrations-men-fashion.png" alt="model2" class="banner">
  <% end %>
</div>
