.adminProductsShow {
  font-weight: bold;
  text-align: right;
}

.adminbtn {
  color: black;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
}

.adminbtn:hover {
  background-color: black;
  color: white;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  gap: 10px;
  margin-top: 30px;
}

.card-wrapper a:link {
  text-decoration: none;
}

.outer {
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.card-img {
  position: relative;
  right: -170px;
  animation-delay: 0.5s;
  width: 57%;
}

.card-img:hover {
  transform: scale(1.2);
}

.card-content {
  animation-delay: 0.3s;
  position: absolute;
  left: 20px;
  z-index: 3;
}

.outer h1 {
  color: #111;
}

.outer p {
  width: 280px;
  font-size: 23px;
  line-height: 1.4;
  color: rgb(75, 72, 72);
  margin: 20px 0;
}

.bg {
  display: inline-block;
  color: #fff;
  background: cornflowerblue;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 0.7em;
}
.card-button {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}

.card-button a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-size: 11px;
  color: #111;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #aaa;
  font-weight: bold;
}

.card-button a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0%;
  background: #111;
  height: 100%;
  z-index: -1;
  transition: width 0.3s ease-in-out;
  transform: skew(-25deg);
  transform-origin: right;
}

.card-button a:hover:after {
  width: 150%;
  left: -10px;
  transform-origin: left;
}

.card-button a:hover {
  color: #fff;
  transition: all 0.5s ease;
}

.card-button a:nth-of-type(1) {
  border-radius: 50px 0 0 50px;
  border-right: none;
}

.card-button a:nth-of-type(2) {
  border-radius: 0 50px 50px 0;
}

.cart-icon {
  padding-right: 8px;
}

.product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-product {
  width: 65%;
  position: relative;
  margin-top: 40px;
}



.right-column {
  width: 35%;
}

.left-product img {
  width: 90%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all 0.3s ease;
}

.left-product img.active {
  opacity: 1;
}

.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: #358ed7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}

.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.product-btn-add {
  display: inline-block;
  background-color: #7dc855;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 10px;
  transition: all 0.5s;
}

.review-btn {
  display: inline-block;
  background-color: #7dc855;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 10px;
  transition: all 0.5s;
  border: none;
  margin-top: 10px;
}

.buttons-wrapper {
  display: flex;
  gap: 5px;
}

.buttons-wrapper a:hover {
  text-decoration: none;
  background-color: rgb(14, 168, 230);
  color: #e0e6dd;
}

.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(/assets/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7dc855;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 7px 30px;
  transition: all 0.5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

.form-review {
  margin: 0;
  padding: 0;
  height: 70px;
  width: 50px;
}

.form-review textarea {
  margin: 0;
  padding: 0;
  height: 70px;
  width: 350px;
}

.review-text {
  margin-top: 70px;
}

@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-product,
  .right-column {
    width: 100%;
  }
 
  .left-product img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
 
@media (max-width: 535px) {
  .left-product img {
    width: 220px;
    top: -85px;
  }
}
